<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neusoft.mybatisDemo.model.dao.StudentMapper">
    <resultMap id="StudentResultMap" type="Student">
        <id property="sid" column="sid"></id>
        <result property="sname" column="sname"></result>
        <result property="sage" column="sage"></result>
        <result property="spassword" column="spwd"></result>
    </resultMap>

    <!--List<Student> selectAll();-->
    <select id="selectAll" resultMap="StudentResultMap">
        select * from student
    </select>

    <!--List<Student> selectByChoose(Student student);-->
    <select id="selectByChoose" parameterType="Student" resultMap="StudentResultMap">
        select * from student
        <where>
            <if test="sid!=null">
                and sid=#{sid}
            </if>
            <if test="sname!=null">
                and sname=#{sname}
            </if>
            <if test="sage!=null">
                and sage=#{sage}
            </if>
            <if test="spassword!=null">
                and spwd=#{spassword}
            </if>
        </where>
    </select>
</mapper>